{% extends "base.njk" %}
{% block titulo %}Listado/Limpiezas{% endblock %}
    {% block contenido %}    
            <h1>Listado de Limpiezas de la habitacion {{habitacion.numero}}</h1>
            
                
                    {% for limpieza in limpiezas %}
                    <div class='card p-3'>
                        <p class="card-text"><strong>Fecha:</strong> {{ limpieza.fechaHora }}</p>
                        <p class="card-text"><strong>Observaciones:</strong> {{ limpieza.observaciones }}</p>
                    </div>
                    {% endfor %}
                
                {% if (session and session.usuario) %}
                <a href="/limpiezas/nueva/{{habitacion.id}}" class="btn btn-success">Nueva limpieza</a>
                {% endif %}
    {% endblock %}